<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Farina Pizza</title>
        <link rel="icon" href="images/farina_pizza.png" type="img/png">
        <meta charset="UTF-8">
    </head>
    <body></body>
    <Script th:inline="javascript">
        let name = "<%= name %>";
        let meg = [[${meg}]];
        let email = "<%= email %>" ;
        let verificationMailUrl = /*[[@{/verificationMail}]]*/ "";

        switch (meg) {
            case "newlogin":
                switch (name) {
                    case "null":
                        alert(`none`);
                        window.location.href = "index.jsp";
                        break;
                    default:
                        if ( name != "Failed to retrieve data due to an unexpected error."
                            || data.trim() != "Failed to retrieve data due to an unexpected error." ) {
                            let megg = name+"，顧客您好!"+"歡迎使用本服務平台!";
                            alert(megg);
                            window.location.href = "index.jsp";
                        }
                        else {
                            alert(name); // 錯誤訊息
                            window.location.href = "index.jsp";
                        }
                }
                break;
            case "send":
                alert("驗證信已發送。");
                window.location.href = verificationMailUrl;
                break;
            case "resend":
                alert("驗證信已重新發送。");
                encoded = encodeURIComponent(email);
                window.location.href = "mail_verification.jsp?email="+encoded;
                break;
            case "updatePwd":
                alert("密碼重設完成!請重新登入");
                window.location.href = "index.jsp";
                break;
            case "bookingsuccess":
                alert("訂位成功!");
                window.location.href = "index.jsp";
                break;
            case "bookingerror":
                alert("訂位失敗!請致電餐廳門市。");
                window.location.href = "booking.jsp";
                break;
            case "bookingsuccess":
                alert("訂位成功!");
                window.location.href = "index.jsp";
                break;
            case "nonfinishedbooking":
                meg = name+"，顧客您好!"+"歡迎使用本服務平台!";
                alert(meg);
                alert("您尚有未完成的餐廳訂位!");
                window.location.href = "booking.jsp";
                break;
            default:
                alert(meg);
        }
    </Script>
</html>